<div class="form-container">
    TODO: DEBUG: {{diagnostic}}

    <form (ngSubmit)="onSubmit()" #subscriptionForm="ngForm">
        <div class="form-group"><label for="email">Email address</label>
            <input type="email" #email="ngModel" class="form-control" id="email" required [(ngModel)]="model.email"
                name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="email.touched">
                <p *ngIf="email.errors?.required">Email is a required field!</p>
                <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>

                <p *ngIf="email.errors?.invalid">This is not a valid Email!!!</p>

            </div>
        </div>
        <div class="form-group">
            <label for="subscriptionType">Choose the price</label>
            <input type="radio" value="monthly" name="subscriptionType" required [(ngModel)]="model.subscriptionType">
            Monthly
            <input type="radio" value="weekly" name="subscriptionType" required [(ngModel)]="model.subscriptionType">
            Weekly


        </div>
        <div class="form-group">
            <button [disabled]="!subscriptionForm.form.valid">Submit</button>
        </div>

    </form>
</div>