.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #ffb300;
  color: #000000;
  font-weight: 600;
}
.toolbar-left-column,
.toolbar-right-column {
  display: flex;
  align-items: center;
}
a.toolbar-link {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
}

.toolbar-button {
  width: 100px;
  margin: 0 15px;
  padding: 13px 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: 481px) {
  .toolbar-button .visible-xs {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .toolbar-button {
    border: none;
    width: 50px;
    margin: 0;
  }
  .toolbar-button .hidden-xs {
    display: none;
  }
}
