.toolbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  justify-content: center;
  background-color: var(--orange);
  color: var(--black);
  font-weight: 600;
}

.toolbar-content {
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .toolbar-right-column {
    display: flex;
    align-items: center;
  }

  a.toolbar-link {
    color: var(--black);
    text-decoration: none;
    margin: 0 15px;
  }

  .toolbar-button {
    width: 100px;
    margin: 0 15px;
    padding: 13px 0;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
  }
}

/* Responsive Styles */

@media screen and (min-width: 481px) {
  .toolbar-content .toolbar-button .visible-xs {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .toolbar-content .toolbar-button {
    border: none;
    width: 50px;
    margin: 0;

    .hidden-xs {
      display: none;
    }
  }
}
