:root {
  --black: #000000;
  --dark-brown: #212121;
  --orange: #ffb300;
  --dark-orange: #f4511e;
  --red: #f4511e;
  --white: #ffffff;
  --light-grey: #eeeeee;
  --grey: #b0bec5;
  --dark-grey: #808e95;
  --dark-blue: #4527a0;
  --green: #42A948;
}
