:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content {
  display: flex;
  flex-grow: 1;
  margin: 120px auto 110px;
  flex-direction: column;
}

/* Responsive Styles */

@media screen and (max-width: 575px) {
  .content {
    margin: 100px auto 110px;
  }
}
